<div>
    <div>user with id is {{user.id}}</div>
    <div>user with name is {{user.name1}}</div>
</div>

<!-- <div>
    <a [routerLink]="['/users',1 , 'sachin']"
     [queryParams]="{page:1, search:'sachin'}"
     [fragment]="'load'">Details of user</a>
</div>


<div>
    <button (click)="getRamaDetail()">Get Rama Details</button>
</div> -->

<!-- <a [routerLink]="['/users ,1 ,'pratap']" 
 [queryParams]="{page:1 ,search:'Pratap'}" 
 {fragment="''loading""}>
Get pratap detail
</a> -->

<div>
    <button (click)="onUserEdit()">Edit user</button>
</div>
